/* Global */
/* Breakpoints */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111723;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 15px;
  }
}

/* Blocks */
.header {
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  .header {
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 18px;
  }
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__wrapper {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1023px) {
  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border: none;
  }
}
.header__logo {
  font-size: 35px;
  color: #fff;
}
.header__list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 1023px) {
  .header__list {
    display: none;
    position: absolute;
    top: 75%;
    right: 10px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.header__list.toggle-menu {
  display: flex;
  padding: 12px 5px;
  border-radius: 20px;
}
.header__item-link {
  color: #fff;
  font-size: 25px;
  padding: 0 20px;
  font-weight: 500;
}
.header__item-link:hover {
  background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.3);
}
@media (max-width: 1023px) {
  .header__item-link {
    font-size: 18px;
  }
}
.header__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 5%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
}
@media (max-width: 1023px) {
  .header__close {
    display: flex;
  }
}
.header__close svg {
  width: 35px;
  height: 35px;
}
@media (max-width: 1023px) {
  .header__close svg {
    width: 30px;
    height: 30px;
  }
}

.home {
  border-bottom: 1px solid #fff;
  height: auto;
  min-height: 600px;
}
.home__wrapper {
  display: flex;
  gap: 50px;
}
@media (max-width: 1023px) {
  .home__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home__description {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .home__description {
    align-items: center;
  }
}
.home__title {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 100px;
  background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 0 60px 0;
}
@media (max-width: 1023px) {
  .home__title {
    font-size: 60px;
    text-align: center;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767px) {
  .home__title {
    font-size: 35px;
  }
}
.home__text {
  color: #fff;
  font-size: 25px;
  max-width: 600px;
}
.home__text-highlighted {
  color: #1f89db;
}
@media (max-width: 1023px) {
  .home__text {
    text-align: center;
    font-size: 20px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .home__text {
    font-size: 16px;
    max-width: 350px;
  }
}
.home__link {
  width: 200px;
  margin-top: 25px;
  font-size: 20px;
}
@media (max-width: 1023px) {
  .home__link {
    width: 150px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .home__link {
    width: 140px;
    font-size: 12px;
  }
}
.home__photo {
  width: 500px;
  border-radius: 25px;
}
@media (max-width: 1023px) {
  .home__photo {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .home__photo {
    max-width: 250px;
  }
}

.button {
  padding: 20px;
  position: relative;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  border-radius: 20px;
}
@media (max-width: 1023px) {
  .button {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 10px;
  }
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  border-radius: 20px;
}
.button--pink {
  background-color: #f42a8b;
}
.button--blue {
  background-color: #1f89db;
}

.skills {
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 1023px) {
  .skills {
    padding-top: 30px;
  }
}
.skills__title {
  margin-bottom: 0;
}
.skills__description {
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1023px) {
  .skills__description {
    font-size: 33px;
  }
}
@media (max-width: 767px) {
  .skills__description {
    font-size: 25px;
    text-align: center;
  }
}
.skills__list {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .skills__list {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .skills__list {
    gap: 20px;
  }
}
.skills__list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1023px) {
  .skills__list-box {
    gap: 40px;
  }
}
.skills__list__item {
  padding: 0 35px;
}

svg {
  width: 100px;
  height: 100px;
}
@media (max-width: 1023px) {
  svg {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 767px) {
  svg {
    width: 50px;
    height: 50px;
  }
}

.projects {
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1023px) {
  .projects__wrapper {
    gap: 30px;
  }
}
.projects__box {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgb(244, 42, 139);
}
@media (max-width: 1023px) {
  .projects__box {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  .projects__box {
    min-width: 100px;
  }
}
.projects__box-img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 20px;
  display: block;
}
.projects__box-img img {
  width: auto;
  -o-object-fit: fill;
     object-fit: fill;
}
.projects__box-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
}
.projects__box-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.projects__box-title {
  margin: 10px 0 0;
  font-size: 30px;
  color: #fff;
}
@media (max-width: 1023px) {
  .projects__box-title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .projects__box-title {
    font-size: 20px;
  }
}
.projects__box-technologies {
  color: #fff;
  margin: 0;
  font-size: 22px;
}
@media (max-width: 1023px) {
  .projects__box-technologies {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .projects__box-technologies {
    font-size: 18px;
  }
}
.projects__box-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: auto;
}
@media (max-width: 1023px) {
  .projects__box-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .projects__box-buttons {
    gap: 10px;
  }
}
.projects__box-button {
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 12px;
  cursor: pointer;
  border: none;
}
@media (max-width: 1023px) {
  .projects__box-button {
    width: 120px;
    font-size: 17px;
    padding: 9px 14px;
  }
}
@media (max-width: 767px) {
  .projects__box-button {
    font-size: 15px;
    padding: 7px 12px;
  }
}

.contact {
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 1023px) {
  .contact {
    padding-top: 30px;
  }
}
.contact__title {
  margin: 0 0 20px;
}
.contact__wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media (max-width: 1023px) {
  .contact__wrapper {
    flex-direction: column;
  }
}
.contact__box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
.contact__box-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .contact__box-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .contact__box-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.contact__box-link svg {
  width: 35px;
  height: 35px;
}
@media (max-width: 1023px) {
  .contact__box-link svg {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 767px) {
  .contact__box-link svg {
    width: 20px;
    height: 20px;
  }
}
.contact__box-item-text {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 1023px) {
  .contact__box-item-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .contact__box-item-text {
    font-size: 1em;
  }
}
.contact__box-link {
  display: flex;
  gap: 15px;
  align-items: center;
}
.contact__box-link svg {
  width: 35px;
  height: 35px;
}
.contact__container {
  display: flex;
  gap: 30px;
}
@media (max-width: 1023px) {
  .contact__container {
    gap: 20px;
    justify-content: center;
  }
}
.contact__container-link svg {
  width: 35px;
  height: 35px;
}
.contact__form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1023px) {
  .contact__form {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .contact__form {
    width: auto;
  }
}
.contact__form-title {
  font-size: 30px;
  color: #fff;
  margin: 0 0 35px;
  text-align: center;
}
@media (max-width: 1023px) {
  .contact__form-title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .contact__form-title {
    font-size: 22px;
  }
}

.form {
  padding: 20px;
  border: 1px solid #fff;
}
@media (max-width: 1023px) {
  .form {
    padding: 20px 15px 15px;
  }
}
@media (max-width: 767px) {
  .form {
    padding: 20px 10px;
  }
}
.form__box {
  border: none;
  padding: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__box-name {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  .form__box-name {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .form__box-name {
    font-size: 19px;
    text-align: center;
  }
}
.form__button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
@media (max-width: 1023px) {
  .form__button {
    padding: 8px 13px;
  }
}
@media (max-width: 767px) {
  .form__button {
    padding: 6px 10px;
  }
}

.custom-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.custom-input__field {
  border: 2px solid #efefef;
  border-radius: 8px;
  padding: 16px 40px 16px 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
@media (max-width: 1023px) {
  .custom-input__field {
    padding: 10px 25px 10px 15px;
  }
}
@media (max-width: 767px) {
  .custom-input__field {
    padding: 8px 20px 8px 10px;
    width: 100%;
  }
}
.custom-input__field::-moz-placeholder {
  font-size: 14px;
}
.custom-input__field::placeholder {
  font-size: 14px;
}
@media (max-width: 1023px) {
  .custom-input__field::-moz-placeholder {
    font-size: 14px;
  }
  .custom-input__field::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .custom-input__field::-moz-placeholder {
    font-size: 12px;
  }
  .custom-input__field::placeholder {
    font-size: 12px;
  }
}
.custom-input__label {
  color: #fff;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #111723;
  padding: 0 7px;
  font-size: 14px;
}

.custom-textarea {
  max-width: 500px;
  width: 100%;
  display: block;
}
.custom-textarea__field {
  min-height: 180px;
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px 15px 15px;
  box-sizing: border-box;
  resize: none;
  min-width: 100%;
}
.custom-textarea__field::-moz-placeholder {
  color: #a3a3a3;
}
.custom-textarea__field::placeholder {
  color: #a3a3a3;
}

.custom-checkbox {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.custom-checkbox__field {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
}
.custom-checkbox__label {
  color: #fff;
  font-size: 18px;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.page-title {
  color: #f42a8b;
  font-size: 48px;
}
@media (max-width: 1023px) {
  .page-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .page-title {
    font-size: 30px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */