/* Global */
@import "./global/variables";
@import "./global/mixin";
@import "./global/reboot";
@import "./global/container";

/* Blocks */
@import "./blocks/header";
@import "./blocks/home";
@import "./blocks/button";
@import "./blocks/skills";
@import "./blocks/projects";
@import "./blocks/contact";
@import "./blocks/form";
@import "./blocks/custom-input";
@import "./blocks/custom-textarea";
@import "./blocks/custom-checkbox";
@import "./blocks/page-title";
