.button {
  padding: 20px;
  position: relative;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  border-radius: 20px;

  @include vp-1023 {
    padding: 15px;
  }

  @include vp-767 {
    padding: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
    padding: 2px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: 20px;

    // border-image-slice: 1;
    // border-image-source: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
    // filter: drop-shadow(0 0 15px #f42a8b) drop-shadow(0 0 15px #1f89db);
  }

  &--pink {
    background-color: #f42a8b;
  }

  &--blue {
    background-color: #1f89db;
  }
}
