.custom-checkbox {
  padding: 15px 0;
  display: flex;
  align-items: center;

  &__field {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
  }

  &__label {
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
