.custom-textarea {
  max-width: 500px;
  width: 100%;
  display: block;

  &__field {
    min-height: 180px;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px 15px 15px;
    box-sizing: border-box;
    resize: none;
    min-width: 100%;

    @include vp-1023 {
      // padding: 7px 10px 10px 10px;
    }

    @include vp-767 {
      //  padding: 5px 8px 8px 8px;
    }
  }

  &__field::placeholder {
    color: #a3a3a3;
  }
}
