.form {
  padding: 20px;
  border: 1px solid #fff;

  @include vp-1023 {
    padding: 20px 15px 15px;
  }

  @include vp-767 {
    padding: 20px 10px;
  }

  &__box {
    border: none;
    padding: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-name {
      color: #fff;
      font-size: 25px;
      margin-bottom: 10px;

      @include vp-1023 {
        font-size: 22px;
      }

      @include vp-767 {
        font-size: 19px;
        text-align: center;
      }
    }
  }

  &__button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    @include vp-1023 {
      padding: 8px 13px;
    }

    @include vp-767 {
      padding: 6px 10px;
    }
  }
}
