.header {
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;

  @include vp-1023 {
    padding-top: 25px;
  }

  @include vp-767 {
    padding-top: 18px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border: none;
    }
  }

  &__logo {
    font-size: 35px;
    color: #fff;
  }

  &__list {
    display: flex;
    gap: 20px;
    justify-content: space-around;

    @include vp-1023 {
      display: none;
      // width: 150px;
      position: absolute;
      top: 75%;
      right: 10px;
      gap: 10px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.toggle-menu {
      display: flex;
      padding: 12px 5px;
      border-radius: 20px;
    }
  }

  &__item-link {
    color: #fff;
    font-size: 25px;
    padding: 0 20px;
    font-weight: 500;

    &:hover {
      background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
      background-clip: text;
      color: transparent;
      -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.3);
    }

    @include vp-1023 {
      font-size: 18px;
    }
  }

  &__close {
    display: none;
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);

    @include vp-1023 {
      display: flex;
    }

    & svg {
      width: 35px;
      height: 35px;
      // color: #fff;

      @include vp-1023 {
        width: 30px;
        height: 30px;
      }
    }
  }
}
