.home {
  // margin-top: 150px;
  border-bottom: 1px solid #fff;
  height: auto;
  min-height: 600px;

  &__wrapper {
    display: flex;
    gap: 50px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__description {
    max-width: 750px;
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      align-items: center;
    }
    // gap: 25px;
  }

  &__title {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 100px;
    background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 0 60px 0;

    @include vp-1023 {
      font-size: 60px;
      text-align: center;
      margin: 0 0 30px 0;
    }

    @include vp-767 {
      font-size: 35px;
    }
  }

  &__text {
    color: #fff;
    font-size: 25px;
    max-width: 600px;

    &-highlighted {
      color: #1f89db;
    }

    @include vp-1023 {
      text-align: center;
      font-size: 20px;
      max-width: 400px;
    }

    @include vp-767 {
      font-size: 16px;
      max-width: 350px;
    }
  }

  &__link {
    width: 200px;
    margin-top: 25px;
    font-size: 20px;

    @include vp-1023 {
      width: 150px;
      font-size: 15px;
    }

    @include vp-767 {
      width: 140px;
      font-size: 12px;
    }
  }

  &__photo {
    width: 500px;
    border-radius: 25px;

    @include vp-1023 {
      max-width: 350px;
    }

    @include vp-767 {
      max-width: 250px;
    }
  }
}
