.page-title {
  //   margin-bottom: 30px;
  color: #f42a8b;
  font-size: 48px;

  @include vp-1023 {
    font-size: 40px;
    // margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 30px;
    text-align: center;
  }
}
