.skills {
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;

  @include vp-1023 {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__description {
    font-size: 40px;
    color: #fff;

    @include vp-1023 {
      font-size: 33px;
    }

    @include vp-767 {
      font-size: 25px;
      text-align: center;
    }
  }

  &__list {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include vp-1023 {
      gap: 30px;
    }

    @include vp-767 {
      gap: 20px;
    }

    &-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;

      @include vp-1023 {
        gap: 40px;
      }
    }

    &__item {
      padding: 0 35px;
    }
  }
}

svg {
  width: 100px;
  height: 100px;

  @include vp-1023 {
    width: 70px;
    height: 70px;
  }

  @include vp-767 {
    width: 50px;
    height: 50px;
  }
}
